.wrapper {
  width: 100%;  /* Make it take up the full width */
  max-width: 1200px;  /* Optional: Set a max width to avoid it getting too large */
  margin: 0 auto;  /* Center the content */
}


section {
  width: 80%;  /* Make it 75% of the container width (adjust as needed) */
  float: right;
  padding-bottom: 50px;
}
