---
---
@import "{{ site.theme }}";

.outer {
  width: 100%;
}

.inner {
  max-width: 80%;
  padding: 20px 10px;
  margin: 0 auto;
}

/* Fix Minimal theme alignment */
.wrapper {
  margin: 0 auto !important;
  width: 100%;
  text-align: left;
}

/* Desktop width */
@media (min-width: 768px) {
  .wrapper {
    width: 70%;
  }
}

/* Tables */
table {
  width: 100%;
  text-align: left;
  display: block;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 10px;
  border: none;
}
