---
---

@import "{{ site.theme }}";

.inner {
  max-width: 80%;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inner {
  max-width: 80%;
}

}
